{% extends "base.html" %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
<div class="w3-sidebar w3-bar-block w3-black w3-xxlarge" style="width:70px">
    <a href="{{url_for('index')}}" class="w3-bar-item w3-button"><i class="fa fa-home"></i></a> 
    <a href="https://mail.google.com/mail/u/0/#inbox" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a> 
    <a href="https://www.facebook.com" class="w3-bar-item w3-button"><i class="fa fa-globe"></i></a>
  </div>

  <div style="margin-left:75px">
    <div class="w3-container">
</body>
<h1 class="escuro-ns">Como surgiu o T-Schedule?</h1>  <br>

<p text-align="center" class="escuro-ns" >O projeto T-Schedule surgiu durante o período letivo de 2020.1, para a disciplina de Introdução 
à Engenharia de Controle e Automação, com a ideia de auxiliar os alunos a montarem seus cronogramas de estudo. 
Durante o projeto, 81 discentes, sendo eles da Escola Politécnica da UFRJ, da Escola Fluminense de Engenharia 
da UFF, entre outras universidades, demarcaram quantas horas passavam semanalmente estudando cada disciplina 
do primeiro período.</p><br>

<p text-align="center" class="escuro-ns"> Esta página visa mostrar aos seus usuários os resultados obtidos durante a pesquisa, dispomos também os links para os respectivos sites de cada disciplina. Além de disponibilizar aos usuários, um Blog com o intuito de conectar os mesmos, para que possam se auxiliar e compartilhar suas experiências.</p>

<p class="texto-rodape">Equipe T-Schedule: Bruno Fraga; Matheus Gomes; Arthur Malta; Allison Silva; Dafne Santos </p>

<style>
    body {
      background-image: url("{{ url_for('static', filename='img/sobre.gif') }}");
      background-repeat: repeat;
      background-attachment: fixed;  
      background-size: cover;
      
  }
  </style>

{% endblock %}